/*Aqui comienza la parte del index.html*/
.container-sm{
    max-width: 400px;
    border: solid 1px grey;
    border-radius: 20px;
    padding: 20px;
}


/*Aqui termina el index.html*/


/*Aqui comienza el modulo del paciente*/
#contenedor{
    max-width: 500px;
}
/*Aqui termina el modulo del paciente*/